# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore build results
/build/

# Ignore IDE files
/.idea/
/.vscode/
/.project
/.classpath

# Ignore Minecraft CAD-specific files
*.tmp
*.bak
